.main-header,
.main-footer,
.navbar {
    background-color: #444;
}
.navbar{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05),
        inset 0 -1px 0 rgba(0,0,0,0.15);
}
.general-form {
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.05),
        inset 0 0 0 rgba(255, 255, 255, 0.15);
}